<!DOCTYPE html>
<html>
    <head>
        <title>RL Blog</title>
        <link rel="stylesheet" href="/css/materialize.min.css" />
        <link href="/css/icon.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body>


    <nav class="navbar-fixed" id="navbar" >
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center"> <i class="material-icons">code</i>RL Blog Site</a>
            <a id="navbarFloatingButton" class="btn-floating btn-large waves-effect waves-light red right" href="/blogs/new"><i class="material-icons">add</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/blogs/new">New Post</a></li>
            </ul>
        </div>
    </nav>


